@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --gold: #A5927B;
  --lightMint: #EFF8F8;
  --pinkIvory: #FEEBD6;
  --lightBlack: #383838;
  --lightGreen: #D5E4C0;
  --darkPink: #BC827B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}


/* margin */

ul {
  list-style-type: none;
}

/* nav */
.nav-menu li a {
  font-family: "DM Serif Text", serif;
  font-size: 20px;
  color: #A5927B;
  text-decoration: none;
}

.nav-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 35%
}

.nav-links:hover {
  color: var(--darkPink);
  border-bottom: 2px solid var(--darkPink);
  transition: all 0.1s ease-out;
}

.nav-menu .active {
  color: var(--darkPink);
  border-bottom: 2px solid var(--darkPink);
}

/* main */

.main {
  position: relative;
  top: 80px;
}

/* carousel */

.carousel-container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide{
  display: flex;
  width: 100%;
  height: 628px;
}

#previousBtn {
  position: absolute;
  top: 50%;
  z-index: 0.5;
  left: 1%;
  font-size: 50px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 0.5;
  right: 1%;
  font-size: 50px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

/* best seller */

.heading-container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.heading-container .box2 {
  font-family: "DM Serif Text", serif;
  font-size: 28px;
  padding: 16px;
  color: #A5927B;
  text-align: center;
}

.heading-container .box3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-top: 30px;
  text-align: right;
}

.heading-container .box3 a {
  text-decoration: none;
  color: #A5927B;
}

/* product cards */

.cards-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cards-container-menu {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}

.cards-container img{
  margin: 0 auto;
}

.product-title-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 0.3rem;
}

.product-text-container {
  padding-right: 1rem;
  padding-left: 0.8rem;
}

.cards-container a {
  background-color: white;
  padding-bottom: 1.5rem;
  border-radius: 8px;
}

.product-title-container .product-title {
  justify-self: left;
  font-family: "DM Serif Text", serif;
  font-size: 22px;
  color: var(--lightBlack)
}

.product-title-container .product-price {
  justify-self: right;
  font-family: "DM Serif Text", serif;
  font-size: 22px;
  color: var(--lightBlack)
}

.product-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightBlack);
  padding-top: 0.3rem;
}

.review {
  display: grid;
  grid-template-columns: 1.3fr 2.4fr;
  padding-top: 0.4rem;
}

.review-menu {
  display: grid;
  grid-template-columns: 0.9fr 2.4fr;
  padding-top: 0.4rem;
}

.star {
  justify-self: left;
  color: var(--lightBlack)
}

.number{
  justify-self: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightBlack);
}

/* main-info */

.info {
  background: var(--lightMint);
}

#grid-container {
  width: 75%;
  display: grid;
  justify-items: center;
  grid-template-columns: 5fr 2fr 1fr;
  margin: 0 auto;
  background: var(--lightMint);
  padding-bottom: 4rem;
  padding-top: 1rem;
}

#info-text {
  padding: 2rem;
}

.title {
  font-family: "DM Serif Text", serif;
  font-size: 28px;
  padding: 16px;
  color: #A5927B;
  text-align: center;
}

.subtitle {
  font-family: "DM Serif Text", serif;
  font-size: 22px;
  padding: 12px;
  color: #A5927B;
  text-align: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 4px;
  color: var(--lightBlack);
  text-align: center;
}

.subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--lightBlack);
  text-align: center;
}

/* insta */

.gallery {
  display:grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 1rem;
  justify-items: center;
}

/* menu page */
.menu-banner {
  text-align: center;
  position: relative;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}

.centered {
  font-family: "DM Serif Text", serif;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.menu-text-container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--gold);
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-text-container-detail {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--gold);
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  vertical-align: middle;
  text-align: left;
}

.arrow-icon {
  width: 10px;
  height: 14px;
  vertical-align: center;
}

.left {
  display: flex;
  flex-direction: row;
  width: 110px;
  justify-content: space-between;
  vertical-align: center;
  /* border: 5px solid red; */
}

.menu-text-container-detail .left {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: space-between;
  vertical-align: center;
  /* border: 5px solid red; */
}

.right {
  display: flex;
  flex-direction: row;
}

.menu-text-container .fas {
  padding-left: 1rem;
  /* padding-top: 0.2rem; */
}

#sort {
  justify-self: right;
}

.menu-text-container .fas .fa-sort-down {
  padding-bottom: 1.5rem;
}



/* product detail page */

.option {
  background: var(--pinkIvory);
}

.option-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.product-option .sub-title{
  margin-bottom: 1rem;
}

.product-option .sub-title-qty{
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.option-container .product-img {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.option-container .product-img i {
  color: var(--gold);
  font-size: 3rem;
  padding-top: 45%;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

.product-option {
  background: white;
  margin: 4rem;
  border: solid var(--gold) 4px;
  padding: 2rem;
  max-width: 550px;
}

.product-option .title {
  padding-bottom: 2rem;
}

.product-option .sub-title, .sub-title-qty {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.glazing-title {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 5px;
}

.glazing-title .sub-title {
  justify-self: end;
}

.tooltip .fas {
  justify-self: start;
  color: var(--gold);
  font-size: 0.8rem;
}

/* ref: https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--gold);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.tooltip .tooltiptext::after{
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -7px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--gold) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.option-glazing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
}

.option-glazing .btn {
  background-color: white;
  border: 2px solid var(--gold);
  color: var(--lightBlack);
  font-family: "Roboto", sans-serif;
  padding: 15px, 32px;
  width: 120px;
  height: 60px;
  text-align: center;
}

.option-glazing .btn:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.option-glazing .btn:hover {
  background-color: var(--gold);
  transition: all 0.2s ease-out;
  color: white;
}

.option-glazing .btn:focus {
  background-color: var(--gold);
  outline: none;
  color: white;
}

.addToCart-btn button {
  background-color: var(--gold);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 8rem 1rem 8rem;
  border: none;
  margin: 2rem 1rem 2rem 1rem;
}

.addToCart-btn button:hover {
  cursor: pointer;
  background-color: var(--darkPink);
  transition: all 0.2s ease-out;
  color: white;
}

.addToCart-btn button:focus {
  outline: none;
  background-color: var(--darkPink);
}

.detail {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.detail .description{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5em;
  padding-bottom: 2rem;
}

.box-container .title {
  font-family: "DM Serif Text", serif;
  font-size: 20px;
  color: var(--darkPink);
  text-align: left;
  padding: 0 0 0.5rem 0;
}

.box-container .right{
  display: flex;
  flex-direction: row;
  width: 65px;
  justify-content: space-between;
}

.box-container .more{
  color: var(--darkPink);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.box-container .fas {
  color: var(--darkPink);
  font-weight: 400;
}

.allergies-container {
  border-bottom: 2px solid var(--darkPink);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

/* detail page review */

.detail-review {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.detail-review hr{
  border: 1px solid var(--gold);
}

.detail-review .fa-sort-down {
  padding-left: 5px;
}

.detail-review .right{
  display: flex; 
  justify-content: flex-end;
  padding: 1rem 0 1rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--gold);
  /* font-weight: 500; */
}

.review-info {
  margin-left: 2rem;
}

.user-info .id {
  text-decoration: underline;
}

.review-container .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}

.user-info, .glazing-option, .review-comment {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightBlack);
  margin-bottom: 0.5rem;
}

.review-container .star {
  margin-bottom: 0.5rem;
}

.review-container {
  margin-bottom: 2rem;
}

.pagination-center {
  text-align: center;
}

.pagination {
  display: inline-block;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--lightBlack);
}

.pagination a {
  color: var(--lightBlack);
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .active {
  border-bottom: 2px solid var(--gold);
  color: var(--lightBlack);
}

.you-may-also-like {
  background-color: var(--lightGreen);
}

/* footer */

.footer-container {
  background-color: var(--pinkIvory);
  padding: 3rem 0 3rem 0;
}

.footer {
  width: 70%;
  height: 30vh;
  background-color: var(--pinkIvory);
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.footer-heading a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--darkPink);
  text-decoration: none;
  margin-bottom: 2.5rem;
}

.footer-email-form .footer-head {
  font-family: "DM Serif Text", serif;
  font-size: 1.5rem;
  color: var(--darkPink);
  margin-bottom: 2rem;
} 

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: var(--darkPink);
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--darkPink);
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: var(--pinkIvory);
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: var(--gold);
  transition: all 0.2s ease-out;
}