@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --gold: #A5927B;
  --lightMint: #EFF8F8;
  --pinkIvory: #FEEBD6;
  --lightBlack: #383838;
  --lightGreen: #D5E4C0;
  --darkPink: #BC827B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}


/* margin */

ul {
  list-style-type: none;
}

/* nav */
.nav-menu li a {
  font-family: "DM Serif Text", serif;
  font-size: 20px;
  color: #A5927B;
  text-decoration: none;
}

.nav-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 40%
}

.nav-links:hover {
  color: var(--darkPink);
  transition: all 0.2s ease-out;
}

/* main */

.main {
  position: relative;
  top: 80px;
}

/* carousel */

.carousel-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide{
  display: flex;
  width: 100%;
  height: 628px;
}

#previousBtn {
  position: absolute;
  top: 50%;
  z-index: 0.5;
  left: 1%;
  font-size: 50px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 0.5;
  right: 1%;
  font-size: 50px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

/* best seller */

.heading-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.heading-container .box2 {
  font-family: "DM Serif Text", serif;
  font-size: 28px;
  padding: 16px;
  color: #A5927B;
  text-align: center;
}

.heading-container .box3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-top: 30px;
  text-align: right;
}

.heading-container .box3 a {
  text-decoration: none;
  color: #A5927B;
}

/* product cards */

.cards-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 4rem;
  /* border: solid #f86916 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.cards-container img{
  margin: 0 auto;
}

.card-container {
  width: 400px;
}

.product-title-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 0.3rem;
  /* border: solid #5B6DCD 10px; */
}

.product-text-container {
  padding-right: 0.6rem;
  padding-left: 0.4rem;
}

.product-title-container .product-title {
  justify-self: left;
  font-family: "DM Serif Text", serif;
  font-size: 22px;
  color: var(--lightBlack)
}

.product-title-container .product-price {
  justify-self: right;
  font-family: "DM Serif Text", serif;
  font-size: 22px;
  color: var(--lightBlack)
}

.product-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightBlack);
  padding-top: 0.3rem;
}

.review {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  padding-top: 0.4rem;
}

.review .star {
  justify-self: left;
  color: var(--lightBlack)
}

.review .number{
  justify-self: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightBlack);
}


.info {
  background: var(--lightMint);
}

#grid-container {
  width: 75%;
  display: grid;
  justify-items: center;
  grid-template-columns: 5fr 2fr 1fr;
  margin: 0 auto;
  background: var(--lightMint);
  padding-bottom: 4rem;
  padding-top: 1rem;
}

#info-text {
  padding: 2rem;
}

.title {
  font-family: "DM Serif Text", serif;
  font-size: 28px;
  padding: 16px;
  color: #A5927B;
  text-align: center;
}

.subtitle {
  font-family: "DM Serif Text", serif;
  font-size: 22px;
  padding: 12px;
  color: #A5927B;
  text-align: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 4px;
  color: var(--lightBlack);
  text-align: center;
}

.subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--lightBlack);
  text-align: center;
}

/* insta */

.gallery {
  display:grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 1rem;
  justify-items: center;
}

/* menu page */
.menu-banner {
  text-align: center;
  position: relative;
  color: white;
  width: 90%;
  margin: 0 auto;
}

.centered {
  font-family: "DM Serif Text", serif;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.menu-text-container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--gold);
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
  display: grid;
  grid-template-columns: 1fr 1fr 30fr 5fr 1fr;
  border-width: thick;
}

.menu-text-container .fas {
  padding-left: 1rem;
  /* padding-top: 0.2rem; */
}

#sort {
  justify-self: right;
}

.menu-text-container .fas .fa-sort-down {
  padding-bottom: 1.5rem;
}

/* footer */

.footer-container {
  background-color: var(--pinkIvory);
  padding: 3rem 0 3rem 0;
}

.footer {
  width: 60%;
  height: 30vh;
  background-color: var(--pinkIvory);
  display: grid;
  grid-template-columns: 600px 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.footer-heading a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--darkPink);
  text-decoration: none;
  margin-bottom: 2.5rem;
}

.footer-email-form .footer-head {
  font-family: "DM Serif Text", serif;
  font-size: 1.5rem;
  color: var(--darkPink);
  margin-bottom: 2rem;
} 

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: var(--darkPink);
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--darkPink);
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: var(--pinkIvory);
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: var(--gold);
  transition: all 0.2s ease-out;
}