html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #061220;
}

.layer {
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
}

/* Styles for layer-1 */

.layer h2 {
	position: relative;
	top: 5%;
	margin: 0;
	font-family: 'Amatic SC', cursive;
	font-size: 11vw;
	color: #5AA593;
	padding-bottom: 2vw;
}

.layer p {
	position: relative;
	top: 5%;
	margin: 0;
	font-size: 2vw;
	font-weight: 100;
}

#subtext {
	font-family: 'Amatic SC', cursive;
	font-size: 6vw;
	font-weight: 800;
	color: #5AA593;
	margin-bottom: 10vw;
}

.my-btn {
	font-size: 1.5vw;
	color: rgba(255, 255, 255, 0.897);
	font-family: 'Oswald', sans-serif;
	padding: 1vw;
}

.my-row {
	border: 1px solid red;
}

/* Styles for background */

.layer.one {
	background: #ACF0F4;
}

.layer.two,
.layer.three {
	background: #FFF9BE;
}

.layer.four,
.layer.five {
	background: #FCDCDF;
}


.layer.six {
	background: #FFF9BE;
	margin: 0 auto;
}

.layer.seven {
	background: #FFDFD3;
	margin: 0 auto;
}

.layer.eight,
.layer.nine {
	background: #D7ECD9;
	margin: 0 auto;
}

.layer.ten,
.layer.eleven {
	background: #ACF0F4;
	margin: 0 auto;
}

.layer.twelve,
.layer.thirteen{
	background: #D7ECD9;
	margin: 0 auto;
}

.layer.fourteen{
	background: #FCDCDF;
}

/* Styles for layer-2 */

.letter {
	position: absolute;
    top: 50%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.ticket {
	position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 1;
}

.next {
	position: absolute;
    top: 85%;
	left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 1;
	width: 5vw;
	height: auto;
}

/* Styles for layer-5 */

.col.bg {
	background-color:#FFF9BE;
	margin-top: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
}

.next-low {
	position: absolute;
    top: 90%;
	left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 1;
	width: 5vw;
	height: auto;
}

.next-plane {
	position: absolute;
    top: 85%;
	left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 1;
	width: 5vw;
	height: auto;
}

.next-door {
	position: absolute;
    top: 85%;
	left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 1;
	width: 5vw;
	height: auto;
}

.draggable {
	touch-action: none;
	user-select: none;
}

#car-container {
	position: fixed;
	bottom: 10%;
    left: 20%;
    margin-right: -50%;
    /* transform: translate(-50%, 0%); */
	width: 20vw;
	height: auto;
	z-index: 10;
}

#road {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: auto;
    left: 0%;
    margin-right: -50%;
    /* transform: translate(-50%, 0%); */
	z-index: 1;
}

#road-rect {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: auto;
    left: 0%;
    margin-right: -50%;
    /* transform: translate(-50%, 0%); */
	z-index: 2;
}

#pink-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#seat {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 45vw;
	height: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 0;
}

#bg-screen {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.route-container {
    position: absolute;
    top: 43%;
    left: 50%;
	width: 24vw;
	height: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#circle {
    position: absolute;
    top: 43%;
    left: 62%;
    margin-right: -50%;
	z-index: 10;
	opacity: 0%;
    transform: translate(-50%, -50%);
}

/* layer ten */
#plane {
    position: absolute;
    top: 40%;
    left: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#plane-cloud1 {
    position: absolute;
    top: 20%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#plane-cloud2 {
    position: absolute;
    top: 40%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#city {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 100vw;
}

#plane-sm {
    position: absolute;
    top: 20%;
    left: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.path-container {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 2;
	visibility: hidden;
}

.moving-container {
    position: absolute;
    top: 55%;
    left: 32%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 5;
	width: 8vw;
	height: auto;
	visibility: hidden;
}

#open-door, #door {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 2;
}

#ppl{
	position: absolute;
    top: 55%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 3;
}

.hello {
	position: absolute;
    top: 45%;
    left: 75%;
	font-size: 5vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 3;
}

#tag {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 100vw;
}

#ending{
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 100vw;
	font-family: 'Amatic SC', cursive;
	font-size: 8vw;
	color: #5AA593;
}

#jh-1{
    position: absolute;
    top: 70%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#jh-2{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#jh-3{
    position: absolute;
    top: 70%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* layer visibility */
.layers {
	width: 100%;
	height: 100%;
}

.layers .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
}

.layers .layer.show {
	visibility: visible;
}

/* media query */

@media print {
	body {
		color: black;
	}
}

@media (orientation: portrait) {
	.layers .layer.show {
		visibility: hidden;
	}
	
	.layers .layer.warn {
		visibility: visible;
		background: #ACF0F4;
	}
}
